<div class="welcome-section">
  <h1>Guardian Angel</h1> 
  <h2>Log In</h2> 
</div>

<div class="input">
  <%= form_with url: login_path, method: :post do |form| %>
    <%= form.label :email, "Email:" %>
    <%= form.email_field :email, required: true, type: "email" %>
    <br>
    <%= form.label :password, "Password:" %>
    <%= form.password_field :password, required: true, minlength: 6, type: "password" %>
    <br>
    <%= form.submit "Log In", class: "submit" %>
  <% end %>
</div>