<div class="welcome-section">
  <h1>Guardian Angel</h1> 

  <h2>Emergency Services</h2> 
</div>

<div class="body">
  <p>Available Emergecy Services</p>

  <!-- Error Message Handling -->
  <% if flash[:error] %>
    <div class="alert alert-danger">
      <%= flash[:error] %>
    </div>
  <% end %>
</div>
  <!-- Helplines List -->
<div class = 'container-sm'>
  <% if @helplines.any? %>
    <ul class="helplines-list list-unstyled">
      <% @helplines.each do |helpline| %>
      <div class="container-sm helpline-item mb-4 p-3 border rounded">
        <strong><%= helpline['name']%></strong> - <%= helpline['description']%> 
        <br />
        <a href="<%= helpline['website'] %>" target=" _blank"><%= helpline['website']%></a>
        <br />
        <%= link_to 'View Details', emergency_service_path(helpline['id']), class: 'btn btn-info mt-2' %>
      </div>
      <% end %>
      </ul>
    <% else %>
      <p>No helplines available</p>
    <% end %>
</div>

