<!DOCTYPE html>
<html>
  <head>
    <title>FeGuardianAngel2405</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
  <header>
    <nav class="navbar">
      <ul class="nav-list">
      <%= link_to image_tag('guardian_angel_logo.jpeg', alt: 'Guardian Hangel Home', class: 'nav-logo-img'), root_path %>
      </ul>
    </nav>
  </header>
  
  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    <%= yield %>
  </body>
</html>
